.profileContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.profileContainer > div:last-child {
    flex-grow: 2;
    padding: 75px;
}

.profilePic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
}

.content > * {
    margin: 20px auto;
    font-size: 2rem;
    text-align: center;
}

.content > div:nth-child(2) {
    font-weight: bold;
    color: #4287f5;
}